# Config file
porydex.ini

# Python virtual environment and cache
.venv/
__pycache__/

# libc overrides for the preprocessor
pycparser/
fake_libc_include/

# Cache output
.pickled/

# Output / testing directories
tst/
out/
site/data/

# pyinstaller
build/
dist/
*.spec

# Mac OSX garbage
.DS_Store
